/**
*
* Project : 'Core'
* Author  : Josh Meads - <joshmeads@me.com>
* Year    : 2014
* Version : v0.1.3
*
**/
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@import url("http://fonts.googleapis.com/css?family=Prata");
* {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1em;
  line-height: 1.25em;
}
p {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1em;
  line-height: 1.25em;
}
a,
button {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Prata', serif;
  font-weight: 500;
}
.h1style,
.h2style,
.h3style,
.h4style,
.h5style,
.h6style,
.heading-sub {
  font-family: 'Prata', serif;
}
h1,
.h1style {
  font-size: 2.2em;
  line-height: 1.25em;
}
h2,
.h2style,
.heading-sub {
  font-size: 1.625em;
  line-height: 1.154em;
}
h3,
.h3style {
  font-size: 1.375em;
  line-height: 1.136em;
}
h4,
.h4style {
  font-size: 1.125em;
  line-height: 1.111em;
}
.center {
  margin: 0 auto;
}
.section-start,
.section {
  padding-top: 80px;
}
.section-end,
.section {
  padding-bottom: 80px;
}
.main-text {
  line-height: 1.4em;
  font-size: 1.2em;
  font-weight: 300;
}
.content-area,
.home-billboard,
.home-content,
.home-sidebar,
.general-content,
.kitchens-content,
.bathrooms-content,
.fku-content {
  position: relative;
  background: #fff;
  box-shadow: 0 0 5px 5px #c2c2c2;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
*:focus {
  outline: none;
}
html {
  -webkit-transform: translateZ(0);
  max-width: 100%;
}
body {
  font-size: 16px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-y: scroll;
}
input,
button -webkit-font-smoothing: antialiased,
textarea color: $black box-sizing:border-box,
em {
  font-style: italic;
}
strong {
  font-style: bold;
  font-weight: bold;
}
hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  margin: 10px 0 30px;
  height: 0px;
  clear: both;
}
a {
  color: #f36;
}
a:hover,
a:focus,
ul,
ol,
dl {
  list-style-type: none;
}
ol {
  counter-reset: ol-counter;
}
ol > li {
  position: absolute;
  left: -1em;
  content: counter(ol-counter);
  counter-increment: ol-counter;
}
img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.header {
  width: 100%;
  background: #fff;
  height: 154px;
  border-top: 13px #000 solid;
}
.header::after {
  clear: both;
  content: "";
  display: table;
}
.logo {
  padding: 10px 15px;
  float: left;
}
.heading {
  position: absolute;
  right: 15px;
  top: 33px;
  font-size: 1.2em;
}
.heading-sub {
  float: right;
  font-size: 1.4em;
  font-weight: 600;
}
.nav {
  position: relative;
  width: 100%;
  height: 35px;
  background: #000;
  top: 141px;
}
.nav-ul {
  width: 100%;
  position: relative;
  margin: 0 auto;
  display: inline-block;
  top: -137px;
  text-align: center;
}
.nav-li {
  display: inline-block;
  color: #fff;
}
.nav-li:hover {
  background: #878787;
}
.nav-active {
  background: #878787;
}
.nav-li a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 9px 25px;
  font-size: 0.875em;
}
.wrapper {
  max-width: 960px;
  position: relative;
  margin: 0 auto;
}
.wrapper::after {
  clear: both;
  content: "";
  display: table;
}
.no-display {
  display: none !important;
}
.not-visible {
  visibility: hidden;
}
.is-visible {
  visibility: visible;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear::after {
  clear: both;
  content: "";
  display: table;
}
.slide-wrapper {
  width: 100% !important;
}
.home-main {
  background: url("/assets/images/background-kt.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}
.home-main .wrapper {
  position: relative;
  top: 50px;
  margin-bottom: 15px;
}
.home-billboard {
  width: 100%;
}
.home-main_heading {
  text-align: center;
  color: #666;
  padding-top: 5px;
}
.home-main_img {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}
.home-content {
  width: 65%;
  margin-top: 15px;
  padding: 10px 20px 72px;
  float: left;
}
.home-sidebar {
  width: 33%;
  height: 100%;
  margin-top: 15px;
  float: right;
}
.home-sidebar_img {
  width: 100%;
  height: 100%;
  padding: 10px;
}
.home-content_heading {
  font-size: 1.625em;
}
.home-content_text p {
  margin-top: 1em;
  font-size: 0.875em;
  font-style: italic;
}
.home-content_button {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 5px 12px;
  font-size: 0.875em;
  text-decoration: none;
  position: absolute;
  right: 20px;
  bottom: 10px;
}
.home-content_button:hover {
  background: #333;
}
.general-main {
  background: url("/assets/images/background-kt.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  margin-top: -15px;
}
.general-main .wrapper {
  position: relative;
  top: 50px;
  margin-bottom: 15px;
}
.general_heading {
  position: absolute;
  text-align: left;
  color: #fff;
  top: 150px;
  left: 40px;
  font-size: 2.5em;
}
.general-content {
  width: 100%;
  margin-top: 15px;
  padding: 10px 10px 3px;
}
.general-content::after {
  clear: both;
  content: "";
  display: table;
}
.wte-img {
  width: 100%;
}
.general-content_text {
  width: 70%;
  float: left;
  position: relative;
}
.general-content_heading {
  font-style: italic;
  font-size: 1.55em;
  font-weight: bold;
  padding: 20px 5px;
}
.general-content_ul {
  list-style-type: disc;
  margin-left: 25px;
  font-size: 0.875em;
  font-style: italic;
}
.general-content_li {
  margin-bottom: 5px;
}
.general-content_sidebar {
  width: 30%;
  height: 100%;
  float: right;
}
.wte-sidebar_img {
  width: 100%;
}
.general-content_paragraph {
  padding: 0 20px 0 10px;
  font-size: 0.875em;
  font-style: italic;
  margin-bottom: 10px;
}
.design-content_button {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 5px 12px;
  font-size: 0.875em;
  text-decoration: none;
  position: relative;
  right: 20px;
  float: right;
}
.design-content_button:hover {
  background: #333;
}
hr {
  margin: 0px 0 15px;
}
.general-sidebar_paragraph {
  padding: 0 20px 0 10px;
  font-size: 0.875em;
  font-style: italic;
  margin-bottom: 10px;
}
.general-sidebar_heading {
  font-style: italic;
  font-size: 1.55em;
  font-weight: bold;
  padding: 20px 5px 10px;
}
.contact-content_heading {
  font-style: italic;
  font-size: 1.4em;
  font-weight: normal;
  padding: 5px 5px 10px;
}
.footer {
  width: 100%;
  background: #fff;
  border-top: 1px solid #ccc;
  height: 60px;
  text-align: center;
  padding-top: 22px;
  font-size: 0.875em;
}
.kitchens-main {
  background: url("/assets/images/background-kt.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  margin-top: -15px;
}
.kitchens-main .wrapper {
  position: relative;
  top: 50px;
  margin-bottom: 15px;
}
.kitchens-main .wrapper::after {
  clear: both;
  content: "";
  display: table;
}
.kitchens_heading {
  text-align: left;
  color: #000;
}
.kitchens-content {
  width: 100%;
  margin-top: 15px;
  padding: 10px 20px 20px;
}
.navigation-thumbnails {
  left: -20px;
}
.visible-container {
  left: 40px !important;
}
.arrows .next {
  right: -15px !important;
}
.slide-wrapper {
  height: 555px !important;
}
.bathrooms-main {
  background: url("/assets/images/background-bt.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  margin-top: -15px;
}
.bathrooms-main .wrapper {
  position: relative;
  top: 50px;
  margin-bottom: 15px;
}
.bathrooms-main .wrapper::after {
  clear: both;
  content: "";
  display: table;
}
.bathrooms_heading {
  text-align: left;
  color: #000;
}
.bathrooms-content {
  width: 100%;
  margin-top: 15px;
  padding: 10px 20px 20px;
}
.fku-main {
  background: url("/assets/images/background_2.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  height: 100%;
  padding-bottom: 50px;
  margin-top: -15px;
  max-width: 100%;
}
.fku-main .wrapper {
  position: relative;
  top: 50px;
  margin-bottom: 15px;
}
.fku_heading {
  position: absolute;
  text-align: left;
  color: #fff;
  top: 220px;
  left: 40px;
  font-size: 2.5em;
}
.fku-content {
  width: 100%;
  margin-top: 15px;
  padding: 0;
}
.fku-content::after {
  clear: both;
  content: "";
  display: table;
}
.fku-img {
  height: 332px;
  max-width: 100%;
  padding: 0 10px;
  background: url("/assets/images/free-standing-kitchen-units.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}
.fku-img img {
  position: relative;
  max-width: 100%;
  height: 332px;
}
.fku-content_text {
  width: 70%;
  float: left;
  position: relative;
}
.fku-content_heading {
  font-style: italic;
  font-size: 1.55em;
  font-weight: bold;
  padding: 20px 5px;
}
.fku-content_paragraph {
  padding: 0 20px 0 10px;
  font-size: 0.875em;
  font-style: italic;
  margin-bottom: 10px;
}
.fku-head-info {
  width: 283px;
  height: 270px;
  background: rgba(255,255,255,0.68);
  position: absolute;
  z-index: 999;
  border-radius: 6px;
  box-shadow: 0px 1px 3px 0px #333;
  top: 30px;
  right: 30px;
}
.fku-head-info-content {
  padding: 20px;
}
.fku-head-info-content h3 {
  margin-bottom: 10px;
}
.fku-head-info-space {
  margin-bottom: 10px;
}
.fku-head-info-content p {
  font-family: 'Prata', serif;
  font-size: 18px;
}
.fku-head-info-content p strong {
  font-family: 'Prata', serif;
}
.fku-content_text {
  background-image: url("/assets/images/fsku_background.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}
.fku-content_text::after {
  clear: both;
  content: "";
  display: table;
}
.fku-content_text_left {
  width: 50%;
  float: left;
  padding: 60px 0 30px 80px;
}
.fku-content_text_right {
  width: 50%;
  float: right;
  padding: 60px 80px 30px 40px;
}
.fku-content_text_right p,
.fku-content_text_left p {
  margin-top: 15px;
  max-width: 100%;
}
.fku-testimonials {
  width: 100%;
  padding: 80px 10px;
  background: #fff;
  text-align: center;
}
.fku-testimonials h2,
.fku-content_text_left h2,
.fku-content_text_right h2 {
  font-size: 1.7em;
}
.fku-testimonials_left {
  position: relative;
  width: 50%;
  float: left;
  padding: 60px 40px;
}
.fku-testimonials_left p,
.fku-testimonials_right p {
  font-family: 'Prata', serif;
  font-size: 1.1em;
}
.fku-testimonials_right {
  position: relative;
  width: 50%;
  float: right;
  padding: 60px 40px;
}
.fku-testimonials_seperator {
  position: absolute;
  right: 0;
  bottom: 0;
}
.fku-map_img {
  max-width: 100%;
}
@media (max-width: 960px) {
  .navigation-thumbnails {
    max-width: 100%;
  }
  .visible-container {
    max-width: 90%;
  }
  .slide {
    background-size: 100%;
    background-position: center !important;
  }
}
@media (max-width: 900px) {
  .general_heading {
    top: 110px;
  }
}
@media (max-width: 850px) {
  .nav {
    height: 70px;
  }
  .home-main,
  .kitchens-main,
  .bathrooms-main,
  .general-main,
  .fku-main {
    margin-top: 35px;
  }
  .nav-li a {
    padding: 9px;
    width: 250px;
  }
}
@media (max-width: 760px) {
  .nav-li a {
    padding: 9px;
    width: 200px;
  }
  .general_heading {
    top: 20px;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    left: 0;
    right: 0;
  }
  .fku-content_text_left,
  .fku-content_text_right {
    float: none;
    position: relative;
    margin: 0 auto;
    padding: 30px 0;
  }
  .fku-head-info {
    height: 230px;
    right: 100px;
  }
  .fku_heading {
    font-size: 1.6em;
    top: 270px;
  }
}
@media (max-width: 725px) {
  .logo {
    margin-left: 50%;
    right: 70px;
    padding: 10px 0;
    position: relative;
    width: 140px;
  }
  .header {
    height: 189px;
  }
  .heading {
    right: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 110px;
  }
  .heading-sub {
    float: none;
  }
  .nav {
    top: 176px;
  }
  .nav-ul {
    top: -113px;
  }
  .home-content,
  .home-sidebar {
    width: 100%;
  }
  .home-sidebar {
    display: none;
  }
}
@media (max-width: 610px) {
  .nav-li a {
    padding: 9px;
    width: 150px;
  }
  .general-content_sidebar {
    display: none;
  }
  .general-content_text {
    width: 100%;
  }
  .heading {
    font-size: 0.875em;
  }
  .fku-testimonials_left,
  .fku-testimonials_right {
    float: none;
    position: relative;
    margin: 0 auto;
    padding: 40px 0;
  }
  .fku-testimonials_seperator {
    display: none;
  }
}
@media (max-width: 460px) {
  .nav {
    height: 105px;
  }
  .home-main,
  .kitchens-main,
  .bathrooms-main,
  .general-main,
  .fku-main {
    margin-top: 70px;
  }
  .nav-li a {
    padding: 9px;
    width: 180px;
  }
}
@media (max-width: 400px) {
  .nav {
    height: 210px;
  }
  .home-main,
  .kitchens-main,
  .bathrooms-main,
  .general-main,
  .fku-main {
    margin-top: 170px;
  }
  .nav-li a {
    padding: 9px;
    width: 300px;
  }
  .small-heading {
    font-size: 2em;
  }
}
