header.header
      .wrapper
        img.logo(src='/assets/images/logo.jpg' alt='Bank Interiors')

        .heading
          h3 Kitchen and Bathroom Cabinet Manufacturers
          span.heading-sub Tel&#58; 01676 530329

        nav.nav
          ul.nav-ul
            li.nav-li.nav-active: a(href="index.html") Home
            li.nav-li: a(href="kitchens.html") Our Kitchens
            li.nav-li: a(href="bathrooms.html") Our Bathrooms
            li.nav-li: a(href="what-to-expect.html") What to Expect
            li.nav-li: a(href="design.html") Design &amp; Installation
            li.nav-li: a(href="contact.html") Contact Bank