////////////////////
/// PLACEHOLDERS ///
////////////////////

.center
  margin: 0 auto
  
.section-start
  padding-top: 80px
  
.section-end
  padding-bottom: 80px
  
.section
  @extend .section-start
  @extend .section-end
  
.main-text
  line-height: 1.4em
  font-size: 1.2em
  font-weight: $light-fw
  
.content-area
  position relative
  background white
  box-shadow 0 0 5px 5px #C2C2C2