////////////////////
//// TYPOGRAPHY ////
////////////////////

// Typeface
$primary-font = "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
$heading-font = 'Prata', serif


// Font Weight (if available)
$light-fw = 300
$normal-fw = 400
$medium-fw = 500

$bold-fw = $medium-fw

* 
  font-family: $primary-font
  font-size: 1em
  line-height: 1.25em


p 
  font-family: $primary-font
  font-size: 1em
  line-height: 1.25em


a, button 
  font-family: $primary-font
  font-weight: $normal-fw


h1, h2, h3, h4, h5, h6 
  font-family: $heading-font
  font-weight: $medium-fw


.h1style, .h2style, .h3style, .h4style, .h5style, .h6style 
  font-family: $heading-font


h1, .h1style 
  font-size: 2.2em
  line-height: 1.25em


h2, .h2style 
  font-size: 1.625em
  line-height: 1.154em


h3, .h3style 
  font-size: 1.375em
  line-height: 1.136em


h4, .h4style 
  font-size: 1.125em
  line-height: 1.111em





