doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Bank Interiors - Kenilworth | Luxury Bathrooms | Traditional Kitchens | Midlands
    link(rel='canonical' href='http://bankinteriors.co.uk/contact.html')
    meta(name='description', content='Bank Interiors are Warwickshire’s exclusive retailer and fitter of luxury, contemporary and traditional kitchens and bathrooms.')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/assets/css/core.min.css')
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  body
    header.header
      .wrapper.unify
        img.logo(src='/assets/images/logo.jpg' alt='Bank Interiors')

        .heading.unify
          h3 Kitchen and Bathroom Cabinet Manufacturers
          span.heading-sub Tel&#58; 01676 530329

        nav.nav
          ul.nav-ul
            li.nav-li: a(href="index") Home
            li.nav-li: a(href="kitchens") Our Kitchens
            li.nav-li: a(href="bathrooms") Our Bathrooms
            li.nav-li: a(href="what-to-expect") What to Expect
            li.nav-li: a(href="design") Design &amp; Installation
            li.nav-li.nav-active: a(href="contact") Contact Bank

    section.general-main
      .wrapper
        .general-content.unify
          img.wte-img(src='/assets/images/contact-header.jpg' alt='Contact')
          h1.general_heading Contact

          .general-content_text.unify
            br
            h3.contact-content_heading Interested in our Kitchens?
            h3.contact-content_heading Call Steve Goodall on: <strong>01676 530329 or 07973 986733</strong>

            img(src='/assets/images/croft-small.jpg' alt='Contact Bank Interiors')
            img(src='/assets/images/workshop-small.jpg' alt='Contact Bank Interiors')

            h3.contact-content_heading Email: design@bankinteriors.co.uk


            h3.contact-content_heading.
              Design Studio: The Corft <br>
              Spencers Lane <br>
              Berkswell <br>
              Warwickshire <br>
              CV7 7BY


            h3.contact-content_heading.
              Thank you! <br>
              Available to the Midlands only.
            


          .general-content_sidebar.unify
  

    include ./includes/footer.jade