doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Bank Interiors - Kenilworth | Luxury Bathrooms | Traditional Kitchens | Midlands
    link(rel='canonical' href='http://bankinteriors.co.uk/design.html')
    meta(name='description', content='Bank Interiors are Warwickshire’s exclusive retailer and fitter of luxury, contemporary and traditional kitchens and bathrooms.')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/assets/css/core.min.css')
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  body
    header.header
      .wrapper.unify
        img.logo(src='/assets/images/logo.jpg' alt='Bank Interiors')

        .heading.unify
          h3 Kitchen and Bathroom Cabinet Manufacturers
          span.heading-sub Tel&#58; 01676 530329

        nav.nav
          ul.nav-ul
            li.nav-li: a(href="index") Home
            li.nav-li: a(href="kitchens") Our Kitchens
            li.nav-li: a(href="bathrooms") Our Bathrooms
            li.nav-li: a(href="what-to-expect") What to Expect
            li.nav-li.nav-active: a(href="design") Design &amp; Installation
            li.nav-li: a(href="contact") Contact Bank

    section.general-main
      .wrapper
        .general-content.unify
          img.wte-img(src='/assets/images/design-header.jpg' alt='Design and Installation')
          h1.general_heading.small-heading Design &amp; Installation

          .general-content_text.unify
            h3.general-content_heading Design
            p.general-content_paragraph.
              An informal chat at our Berkswell Design Centre, or a visit to your home for a free 
              consultation helps us find out about the way you want to use your kitchen space, to 
              clarify your thoughts and answer your questions. Very often at this stage, our clients 
              realise there are more possibilities than they initially thought and this is where 
              the excitement starts to take hold and the inspiration starts to flow. Once we have 
              your wish list and budget, we will put together a design proposal and quote, a starting 
              point that can be developed into a final kitchen design.

            h3.general-content_heading Installation
            p.general-content_paragraph.
              When you place your complete Kitchen order and installation with Bank Interiors, our 
              Project Manager will undertake a full site survey to check dimensions and assess the 
              current services to check if any new services are required in order to support your new 
              Kitchen.

            p.general-content_paragraph.
              Full service drawings and instructions will be provided if you wish to use your own 
              Builder, Plumber or Electrician for part of the installation contract. We will also 
              liaise with your Architect and/or service providers to ensure that the whole process is 
              trouble free. Our professionalism extends to respect for your home and we work around 
              any special requirements that you may have. Working closely with our installers, we will 
              organise deliveries, arrange installation dates and keep you informed about each stage 
              of the project.

            p.general-content_paragraph.
              A Kitchen installation will take about two weeks. The cabinets and appliances are installed 
              first which normally takes up to five working days. Our specialist Worktop Installers will 
              then make a template for your work surface which will be cut, polished and installed the 
              following week.

            p.general-content_paragraph.
              On completion, we will meet with you on site to explain everything to you and make sure you 
              are completely satisfied with your new Kitchen.


            a(href="contact.html" alt="Contact Bank").design-content_button Contact Us &#62;
            

          .general-content_sidebar.unify
            h3.general-sidebar_heading Testimonials
            hr
            p.general-sidebar_paragraph.
              &quot;We would like to let you know how delighted we are with our new kitchen, your team has been 
              excellent from start to finish.
              The kitchen looks stunning and the quality is outstanding, well done!&quot;
              <br><br>
              Andy and Karen M. <br>
              Balsall Common

            hr
            p.general-sidebar_paragraph.
              &quot;We are really thrilled with our new kitchen, it looks fabulous.You all worked hard and were extremely reliable.
              We would recommend you to anyone!&quot;
              <br><br>
              David and Jayne S.<br>
              Sutton Coldfield

            hr
            p.general-sidebar_paragraph.
              &quot;Bank Interiors have exceeded all of my expectations!&quot;
              <br><br>
              Tracy <br>
              Leamington Spa
            
            hr
            p.general-sidebar_paragraph.
              &quot;Our Kitchen is absolutely beautiful. From the outset Bank Interiors gave us an excellent service, providing realistic ideas, sensible advice and costs to match our budget.
              Any queries or concerns were dealt with promptly and professionally. The kitchen fitters were exemplary and courteous. I would recommend Bank interiors to all our friends.&quot;
              <br><br>
              Mr. B <br>
              Lichfield
  

    include ./includes/footer.jade