doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Bank Interiors | Bespoke Free Standing Kitchen Units | Midlands
    link(rel='canonical', href='http://bankinteriors.co.uk/free-standing-kitchen-units.html')
    meta(name='description', content='Stunning Free Standing Kitchen Units, Bathrooms and Interiors made in our workshop. Visit us for Great Value and Unbeatable Service throughout the Midlands')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/assets/css/core.min.css')
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    script
      | $(document).ready(function(){
      | $('#rubbermove').hide();  
      | });

  body
    header.header
      .wrapper.unify
        img.logo(src='/assets/images/logo.jpg' alt='Bank Interiors')

        .heading.unify
          h3 Kitchen and Bathroom Cabinet Manufacturers
          span.heading-sub Tel&#58; 01676 530329

        nav.nav
          ul.nav-ul
            li.nav-li: a(href="index") Home
            li.nav-li: a(href="kitchens") Our Kitchens
            li.nav-li: a(href="bathrooms") Our Bathrooms
            li.nav-li: a(href="what-to-expect") What to Expect
            li.nav-li: a(href="design") Design &amp; Installation
            li.nav-li: a(href="contact") Contact Bank

    section.fku-main
      .wrapper
        .fku-content
          .fku-img.unify
  
            h1.fku_heading.
              Bespoke <br> &emsp; Freestanding Kitchens
            .fku-head-info
              .fku-head-info-content
                h3 Interested in a Kitchen?
                p.fku-head-info-space We'd love to have a chat

                p Call Steve Goodall on:
                p.fku-head-info-space <strong>01676 530329</strong>

                p or email:
                p.fku-head-info-space <strong>design@bankinteriors.co.uk</strong>

                p Thank you!

          .fku-content_text
            .fku-content_text_left.unify
              h2 Beautifully Designed.
              h3 Handbuilt exclusively for you.

              p Bank Interiors specialises in Handmade Kitchens manufactured in England. We have our own workshop located in Warwickshire where we can manufacturer anything you wish. We use authentic materials, original designs and clever construction to make each piece beautiful and of the highest quality. Each kitchen we design, manufacturer and install is special to us and unique to you.

            .fku-content_text_right.unify
              img(src='/assets/images/bespokefreestandingkitchenunits.jpg' alt='Bespoke free standing kitchen units')

          .fku-content_text
            .fku-content_text_left.unify
              img(src='/assets/images/quality-kitchen-units.jpg' alt='Quality Kitchen Units')
              
            .fku-content_text_right.unify
              h2 Quality craftsmanship.
              h3 Constructed using the finest materials.
              
              p Our kitchens are built from only the finest materials, sourced from around the UK. We use solid wood, marble and granite to give your new kitchen the luxury feeling it deserves. All accessories are hand picked from some of the finest manufacturers in the country.

          .fku-content_text
            .fku-content_text_left.unify
              h2 Genuine value.
              h3 Luxury kitchens. Wholesale Prices.

              p We thrive on offering genuine value, your dream kitchen shouldn’t cost a huge premium. Call us and we will do our best to help you find the perfect kitchen to fit your budget. Bank Interiors also employs one of the finest fitting teams in the UK. See our testimonials below.
              
            .fku-content_text_right.unify
              img(src='/assets/images/free-standing-kitchens.jpg' alt='Free Standing Kitchens')

          .clear
          .fku-testimonials.unify
            h2 Testimonials
            h3 What people are saying about us.

            .fku-testimonials_left.unify
              p.
                “We are really thrilled with our new kitchen, it looks fabulous.You all worked hard and were extremely reliable.
                <br><br>
                We would recommend you to anyone!”
                <br><br>
              p.
                - David and Jayne S.<br>
                Sutton Coldfield
              img.fku-testimonials_seperator(src='/assets/images/divider.png')

            .fku-testimonials_right.unify
              p.
                “We would like to let you know how delighted we are with our new kitchen; your team has been excellent from start to finish.
                <br><br>
                The kitchen looks stunning and the quality is outstanding, well done!”
                <br><br>
              p.
                - Andy and Karen M. <br>
                Balsall Common

          .fku-map.unify
            img.fku-map_img(src='/assets/images/berkswellmap.jpg')


    include ./includes/footer.jade