doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Bank Interiors - Kenilworth | Luxury Bathrooms | Traditional Kitchens | Midlands
    link(rel='canonical' href='http://bankinteriors.co.uk/what-to-expect.html')
    meta(name='description', content='Bank Interiors are Warwickshire’s exclusive retailer and fitter of luxury, contemporary and traditional kitchens and bathrooms.')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/assets/css/core.min.css')
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  body
    header.header
      .wrapper.unify
        img.logo(src='/assets/images/logo.jpg' alt='Bank Interiors')

        .heading.unify
          h3 Kitchen and Bathroom Cabinet Manufacturers
          span.heading-sub Tel&#58; 01676 530329

        nav.nav
          ul.nav-ul
            li.nav-li: a(href="index") Home
            li.nav-li: a(href="kitchens") Our Kitchens
            li.nav-li: a(href="bathrooms") Our Bathrooms
            li.nav-li.nav-active: a(href="what-to-expect") What to Expect
            li.nav-li: a(href="design") Design &amp; Installation
            li.nav-li: a(href="contact") Contact Bank

    section.general-main
      .wrapper
        .general-content.unify
          img.wte-img(src='/assets/images/wte-header.jpg' alt='What to Expect')
          h1.general_heading.small-heading What to Expect

          .general-content_text.unify
            h3.general-content_heading Construction
            ul.general-content_ul
              li.general-content_li All Bank Interiors kitchens are handmade to order in our Warwickshire workshop.
              li.general-content_li We make each unit, or combination of units to the exact size you need.
              li.general-content_li Solid construction with dovetail joints and hidden soft close drawer runners.
              li.general-content_li Solid hardwood front frames and doors with mortice and tenon joints.
              li.general-content_li Solid brass or chrome butt hinges for doors.
              li.general-content_li Painted in any colour you choose.
              li.general-content_li Oak veneer or painted inner cupboards for stability and durability.
              li.general-content_li Wide choice of granites, oaks, walnut, beech and composite materials for worktops all templated, fabricated and fitted.
              li.general-content_li Many options for doors, drawers, knobs, handles, plinths and cornices. Shaker, Victorian, Edwardian and Contemporary styles availible.
              li.general-content_li Most of the joinery work is completed in our workshop, cutting fitting costs down to a mimimum.
              li.general-content_li Combinations of up to 2.6 metres run of cabinets can be made as one piece of furniture.
              li.general-content_li We are proud of the quality of our furniture therefore in the unlikely event, subject to fair wear and tear, any of the cabinetry should fail or not be fit for purpose we will repair or replace the unit for a period of 2 years.

            h3.general-content_heading Appliances, Taps, Sinks, Flooring, Tiles, Lighting and Accessories
            ul.general-content_ul
              li.general-content_li We are Premier Distributors for Aga, Rangemaster, Falcon, Mercury, Siemens, Quooker, Villeroy &amp; Boch, Shaws, Perrin &amp; Rowe, Franke, Insinkerator and a number of quality flooring manufacturers.


          .general-content_sidebar.unify
            img.wte-sidebar_img(src='/assets/images/what-to-expect-image-2.jpg' alt='What to expect images')
  

    include ./includes/footer.jade