.bathrooms-main
  background url(/assets/images/background-bt.jpg)
  background-position center top
  background-repeat no-repeat
  //background-size auto
  width 100%
  height 100%
  padding-bottom 50px
  margin-top -15px
  
.bathrooms-main .wrapper
  position relative
  top 50px
  margin-bottom 15px
  clearfix()
  
.bathrooms_heading
  text-align left
  color black
  
.bathrooms-content
  @extend .content-area
  width 100%
  margin-top 15px
  padding 10px 20px 20px