@media (max-width: 960px)
  .navigation-thumbnails
    max-width 100%
    
  .visible-container
    max-width 90%
    
  .slide
    background-size 100%
    background-position center !important

@media (max-width: 900px)
  .general_heading
    top 110px
    

@media (max-width: 850px)
  .nav
    height 70px
  
  .home-main, .kitchens-main, .bathrooms-main, .general-main, .fku-main
    margin-top 35px
    
  .nav-li a
    padding 9px 
    width 250px

@media (max-width: 760px)
  .nav-li a
    padding 9px 
    width 200px
  
  .general_heading
    top 20px
    text-align center
    margin-left 0
    margin-right 0
    left 0
    right 0
  
  .fku-content_text_left, .fku-content_text_right
    float none
    position relative
    margin 0 auto
    padding 30px 0
    
  .fku-head-info
    height 230px
    right 100px
    
  .fku_heading
    font-size 1.6em
    top 270px
    
@media (max-width: 725px)
  .logo
    margin-left 50%
    right 70px
    padding 10px 0
    position relative
    width 140px
    
  .header
    height 189px
  
  .heading
    right auto
    text-align center
    margin-left auto
    margin-right auto
    left 0
    right 0
    top 110px
  
  .heading-sub
    float none
    
  .nav
    top 176px
  
  .nav-ul
    top -113px
    
  .home-content, .home-sidebar
    width 100%
  
  .home-sidebar
    display none

@media (max-width: 610px)
  .nav-li a
    padding 9px 
    width 150px
  
  .general-content_sidebar
    display none
  
  .general-content_text
    width 100%
  
  .heading
    font-size 0.875em
    
  .fku-testimonials_left, .fku-testimonials_right
    float none
    position relative
    margin 0 auto
    padding 40px 0
    
  .fku-testimonials_seperator
    display none
   
@media (max-width: 460px)
  .nav
      height 105px
  
  .home-main, .kitchens-main, .bathrooms-main, .general-main, .fku-main
    margin-top 70px
    
  .nav-li a
    padding 9px 
    width 180px

@media (max-width: 400px)
  .nav
      height 210px
  
  .home-main, .kitchens-main, .bathrooms-main, .general-main, .fku-main
    margin-top 170px
    
  .nav-li a
    padding 9px 
    width 300px
  
  .small-heading
    font-size 2em
    
