///////////////////////////////
///////////// FKU /////////////
///////////////////////////////

.fku-main
  background url(/assets/images/background_2.jpg)
  background-position center top
  background-repeat no-repeat
  //background-size auto
  height 100%
  padding-bottom 50px
  margin-top -15px
  max-width 100%
  
.fku-main .wrapper
  position relative
  top 50px
  margin-bottom 15px
  
.fku_heading
  position absolute
  text-align left
  color white
  top 220px
  left 40px
  font-size 2.5em
  
.fku-content
  @extend .content-area
  width 100%
  margin-top 15px
  padding 0
  clearfix()

.fku-img
  height 332px
  max-width 100%
  padding 0 10px
  background url('/assets/images/free-standing-kitchen-units.jpg')
  background-position center top
  background-size cover
  background-repeat no-repeat

.fku-img img
  position relative
  max-width 100%
  height 332px

.fku-content_text
  width 70%
  float left
  position relative

.fku-content_heading
  font-style italic
  font-size 1.55em
  font-weight bold
  padding 20px 5px

.fku-content_paragraph
  padding 0 20px 0 10px
  font-size 0.875em
  font-style italic
  margin-bottom 10px

.fku-head-info
  width 283px
  height 270px
  background rgba(255,255,255,0.68)
  position absolute
  z-index 999
  border-radius 6px
  box-shadow 0px 1px 3px 0px #333
  top 30px
  right 30px

.fku-head-info-content
  padding 20px
  
.fku-head-info-content h3
  margin-bottom 10px
  
.fku-head-info-space
  margin-bottom 10px

.fku-head-info-content p
  font-family: $heading-font
  font-size 18px
  
.fku-head-info-content p strong
  font-family: $heading-font
  
.fku-content_text
  background-image url('/assets/images/fsku_background.jpg')
  width 100%
  background-repeat no-repeat
  background-position bottom
  clearfix()

.fku-content_text_left
  width 50%
  float left
  padding 60px 0 30px 80px
  
.fku-content_text_right
  width 50%
  float right
  padding 60px 80px 30px 40px

.fku-content_text_right p, .fku-content_text_left p
  margin-top 15px
  max-width 100%
  
.fku-testimonials
  width 100%
  padding 80px 10px
  background white
  text-align center

.fku-testimonials h2, .fku-content_text_left h2, .fku-content_text_right h2
  font-size 1.7em

.fku-testimonials_left
  position relative
  width 50%
  float left
  padding 60px 40px

.fku-testimonials_left p, .fku-testimonials_right p
  font-family: $heading-font
  font-size 1.1em
  
.fku-testimonials_right
  position relative
  width 50%
  float right
  padding 60px 40px

.fku-testimonials_seperator
  position absolute
  right 0
  bottom 0

.fku-map_img
  max-width 100%
