////////////////////
////// FOOTER //////
////////////////////

.footer
  width 100%
  background white
  border-top 1px solid #ccc
  height 60px
  text-align center
  padding-top 22px
  font-size 0.875em
