////////////////////
////// HEADER //////
////////////////////

.header
  width 100%
  background white
  height 154px
  border-top 13px black solid
  clearfix()


.logo
  padding 10px 15px
  float left

.heading
  position absolute
  right 15px
  top 33px
  font-size 1.2em

.heading-sub
  float right
  font-size 1.4em
  font-weight 600
  @extend .h2style
  
.nav
  position relative
  width 100%
  height 35px
  background black
  top 141px
  
.nav-ul
  width 100%
  position relative
  margin 0 auto
  display inline-block
  top -137px
  text-align center
  
.nav-li
  display inline-block
  color white
  
  &:hover
    background #878787
  
.nav-active
  background #878787
  
.nav-li a
  text-decoration none
  color white
  display inline-block
  width 100%
  height 100%
  padding 9px 25px
  font-size 0.875em