.kitchens-main
  background url(/assets/images/background-kt.jpg)
  background-position center top
  background-repeat no-repeat
  //background-size auto
  width 100%
  height 100%
  padding-bottom 50px
  margin-top -15px
  
.kitchens-main .wrapper
  position relative
  top 50px
  margin-bottom 15px
  clearfix()
  
.kitchens_heading
  text-align left
  color black
  
.kitchens-content
  @extend .content-area
  width 100%
  margin-top 15px
  padding 10px 20px 20px
  
//Slider Overrides
.navigation-thumbnails
  left -20px
  
.visible-container
  left 40px !important

.arrows .next
  right -15px !important

.slide-wrapper
  height 555px !important