////////////////////
/////// MAIN ///////
////////////////////

.wrapper
  max-width: $pagewidth
  position relative
  center()
  clearfix()

.no-display
  display: none !important

.not-visible 
  visibility: hidden

.is-visible 
  visibility: visible

.left
  float: left
  
.right
  float: right

.clear
  clearfix()

.slide-wrapper
  width 100% !important
  
///////////////////////////////////////////////////
///////////////////////////////////////////////////
  
.home-main
  background url(/assets/images/background-kt.jpg)
  background-position center top
  background-repeat no-repeat
  //background-size auto
  width 100%
  height 100%
  padding-bottom 50px
  
.home-main .wrapper
  position relative
  top 50px
  margin-bottom 15px
  
.home-billboard
  @extend .content-area
  width 100%
  
.home-main_heading
  text-align center
  color #666
  padding-top 5px
  
.home-main_img
  position relative
  width 100%
  margin 0 auto
  padding 10px
  
.home-content
  @extend .content-area
  width 65%
  margin-top 15px
  padding 10px 20px 72px
  float left

.home-sidebar
  @extend .content-area
  width 33%
  height 100%
  margin-top 15px
  float right
  
.home-sidebar_img
  width 100%
  height 100%
  padding 10px
  
.home-content_heading
  font-size 1.625em

.home-content_text p
  margin-top 1em
  font-size 0.875em
  font-style italic
  
.home-content_button
  display inline-block
  background black
  color white
  padding 5px 12px
  font-size 0.875em
  text-decoration none
  position absolute
  right 20px
  bottom 10px
  &:hover
    background #333

///////////////////////////////
/////////// GENERAL ///////////
///////////////////////////////

.general-main
  background url(/assets/images/background-kt.jpg)
  background-position center top
  background-repeat no-repeat
  //background-size auto
  width 100%
  height 100%
  padding-bottom 50px
  margin-top -15px
  
.general-main .wrapper
  position relative
  top 50px
  margin-bottom 15px
  
.general_heading
  position absolute
  text-align left
  color white
  top 150px
  left 40px
  font-size 2.5em
  
.general-content
  @extend .content-area
  width 100%
  margin-top 15px
  padding 10px 10px 3px
  clearfix()

.wte-img
  width 100%

.general-content_text
  width 70%
  float left
  position relative

.general-content_heading
  font-style italic
  font-size 1.55em
  font-weight bold
  padding 20px 5px
  
.general-content_ul
  list-style-type disc
  margin-left 25px
  font-size 0.875em
  font-style italic

.general-content_li
  margin-bottom 5px

.general-content_sidebar
  width 30%
  height 100%
  float right

.wte-sidebar_img
  width 100%

.general-content_paragraph
  padding 0 20px 0 10px
  font-size 0.875em
  font-style italic
  margin-bottom 10px

.design-content_button
  display inline-block
  background black
  color white
  padding 5px 12px
  font-size 0.875em
  text-decoration none
  position relative
  right 20px
  float right
  &:hover
    background #333
  
hr
  margin 0px 0 15px

.general-sidebar_paragraph
  padding 0 20px 0 10px
  font-size 0.875em
  font-style italic
  margin-bottom 10px
  
.general-sidebar_heading
  font-style italic
  font-size 1.55em
  font-weight bold
  padding 20px 5px 10px

.contact-content_heading
  font-style italic
  font-size 1.40em
  font-weight normal
  padding 5px 5px 10px
  